@media all and (max-width: 479px) {
  .topic {
    font-size: 32px;
  }
  .banner {
    margin-top: 50px;
  }
  .link-btn {
    font-size: 26px;
  }
  .banner .container .link-btn {
    height: 40px;
    width: 200px;
    bottom: 25px;
  }
  .navigation-contacts p:nth-child(2) {
    font-size: 12px;
  }
  .hint {
    margin-top: 0;
  }
  .hint img {
    height: 100%;
  }
  .result {
    height: 900px;
  }
  .result-description {
    height: 150px;
    width: 50%;
    padding: 30px 30px 0 !important;
  }
  .result-img {
    height: 150px;
    width: 50%;
  }
  .result-img img {
    height: 150px;
  }
  .furniture .link-btn {
    line-height: 55px;
    height: 70px;
  }
  #player {
    height: 240px;
  }
  .gallery-btn {
    font-size: 20px;
  }
  .realised-projects .container .link-btn {
    height: 20px;
    width: 150px;
  }
  .realised-projects-price div {
    width: 50%;
  }
  .realised-projects-price div p:first-child {
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .social-instagram {
    height: 370px;
  }
  .credit .bordered,
  .credit-item {
    height: 250px;
  }
}
