@media screen and (max-width: 1023px) {
  .navigation {
    background: white;
    position: fixed;
    width: 100%;
    z-index: 10;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    top: 0;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  .navigation-footer {
    position: unset;
    height: unset;
  }
  .navigation-footer .navigation-logo img {
    -webkit-transform: translateY(5px) !important;
    -ms-transform: translateY(5px) !important;
    transform: translateY(5px) !important;
  }
  .navigation-logo img {
    height: 50px;
  }
  .navigation-container {
    padding: 0 0 10px;
  }
  .banner {
    margin-top: 70px;
  }
  .result {
    height: 280px;
  }
  .result-description {
    height: 140px;
    font-size: 20px !important;
    padding: 40px 20px !important;
  }
  .result-img {
    height: 140px;
  }
  .result-img img {
    height: 140px;
  }
  .gifts-item-text {
    background: rgba(255, 255, 255, 0.7);
  }
  .container {
    width: 96%;
    margin: 0 2%;
  }
  .banner {
    background: url(../img/banner-768.jpg) no-repeat center;
    height: 400px;
  }
  .banner .container .link-btn {
    right: 15px;
    bottom: 35px;
  }
  .navigation-text {
    display: none;
  }
  .hint img {
    margin-left: -50%;
  }
  .gallery {
    overflow: hidden;
  }
  .gallery-image {
    width: 400px;
    height: 300px;
  }
  .gallery-image img {
    width: 400px;
  }
  .social {
    height: 220px;
  }
  .gallery-price {
    left: 120px;
  }
  .gallery .bordered {
    margin-left: -40px;
    width: 100%;
    height: 430px;
    padding: 20px 20px 20px 60px;
  }
  iframe {
    height: 189px;
  }
  .spectre-item {
    width: 48%;
  }
  .slick-prev,
  .slick-next {
    top: 90% !important;
    left: 250px !important;
  }
  .slick-next {
    left: 300px !important;
  }
  .gallery-slider {
    min-height: 400px;
  }
  .slick-prev:before,
  .slick-next:before {
    font-size: 50px !important;
  }
  .social-youtube,
  .social-instagram {
    width: unset;
    height: 255px;
  }
  .credit p {
    font-size: 18px;
  }
  .credit-item {
    padding: 0 20px 0 25px;
  }
  .credit .bordered {
    margin-left: 0;
  }
  .credit .bordered,
  .credit-item {
    height: 260px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .project-silver,
  .project-golden {
    width: 48%;
  }
  .project-text {
    width: 100%;
  }
  .gifts p {
    font-size: 18px;
  }
  .gifts-item {
    margin: 0 1%;
  }
  .gifts-item-box {
    height: 100px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .gifts-item-text {
    padding: 10px 20px;
  }
  .project {
    background: url(../img/2.jpg) no-repeat center;
  }
  .projects img,
  .projects-text {
    width: 340px;
  }
  .projects-text-price {
    height: 60px;
  }
  .realised h1 {
    margin-top: 100px;
  }
  .realised-projects .container .link-btn {
    top: 70px;
  }
  .realised-projects .bordered {
    width: 96%;
    margin: 0 2%;
  }
  .gallery-btn {
    margin-bottom: 0;
  }
}
